/* CircularGallery wrapper (scoped) */
.circularGallery {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.circularGallery canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}
